body{
    background-image: url(https://github.com/VasMichael/lingdata/blob/main/mywebpage/CSS/look-from-above-at-river-running-through-the-fjords.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
h1{
    color: white;
    font-family: "Lobster", "consolas", "sans-serif";
}
h2{
    color: aqua;
    font-style: italic;
}

p{
    border-color: black;
    border: 1px solid;
    width: 300px;
    background-color: chartreuse;
}
a{
    border-color: black;
    border: 1px solid;
    width: 500px;
    background-color:red;
    color: black;
}
